<div class="container">
	
	<!-- INPUT -->
	<div class="row">
		<div class="col-md-6">
		</div>
	</div>

	<!-- FILTRE -->
	<div class="row">
		<div class="dropdown col-md-4">
			<select>
				<option>Catégorie</option>
				<option *ngFor="let cat of categories">{{cat}}</option>
			</select>
		</div>
		<div class="dropdown col-md-4">
			<select >
				<option>Type</option>
				<option *ngFor="let type of types">{{type}}</option>
			</select>
		</div>
		<div class="dropdown col-md-4">
			<select>
				<option>Location</option>
				<option *ngFor="let loc of locations">{{loc}}</option>
			</select>
		</div>
	</div>

	<!-- LISTE -->
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Categorie</th>
						<th>Type</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let matut of materielUtile">
						<td>{{matut.titre}}</td>
						<td>{{matut.categorie}}</td>
						<td>{{matut.type}}</td>
						<td>{{matut.loca}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>